<!DOCTYPE html>
<html>
<head>
	<title>Django Girls blog</title>
</head>
<body>
	<div>
		<h1><a href="">Django Girls Blog</a></h1>
	</div>

	<div>
		<p>Published: 14.06.2014, 20:14</p>
		<h2><a href="">My first post</a></h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam quas corrupti dolorem atque corporis amet sunt assumenda? Maiores maxime voluptatibus minus eius alias dolor. Omnis iusto excepturi quia ipsam ab. </p>
	</div>

	<div>
		<p>publised 14.06.2014, 12:14</p>
		<h2><a href="">My second post</a></h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At a aliquam deserunt autem dolor laborum eaque magnam, placeat molestias, inventore, nisi culpa numquam dolorum porro explicabo, consectetur aspernatur itaque rerum! </p>
	</div>

</body>
</html>